<div *ngFor="let cat of categoryType" class="card" fxLayout="row" fxLayoutGap="10px">
    <div *ngIf="cat.show==true" fxFlex>
        <div class="px-2 py-1">
            <h2>{{cat.nameButtonCategory}}</h2>
        </div>
        <div *ngFor="let button of cat.buttonsType">
            <div style="font-size: medium;" *ngIf="button.clickCount==0; else elseBlock" class="bg-base rounded-tr rounded-br border-1-3 p-0 mt-1"
                fxLayout="row"  fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutAlign.lt-sm="start center"
                fxLayoutGap="2px">
                <button color="primary" (click)="onClick(cat.id, button.id)" mat-raised-button>{{button.name}}</button>
            </div>
            <ng-template #elseBlock>
                <div class="bg-base rounded-tr rounded-br border-1-3 p-0 mt-1" fxLayout="row" fxLayout.lt-sm="column"
                    fxLayoutAlign="center center" fxLayoutAlign.lt-sm="start center" fxLayoutGap="12px">
                    <button (click)="destroy(cat.id)" color="accent" mat-raised-button>{{button.name}}</button>
                </div>
            </ng-template>
        </div>
    </div>
</div>