.arrow-back{
    margin-left: 9em;
    margin-right: 9.6em;
    //background-color: rgba(221, 221, 221, 0.5);
    border-radius: 5px;
    background: rgba(221, 221, 221, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.065), 0 6px 20px 0 rgba(0, 0, 0, 0.065);
    margin-top: -50px;
    margin-bottom: -60px;
}
.arrow-back img{
    margin-left: 5px;
}
.my-12{
    margin: 9em;
}
.card{
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    padding: 1rem;
}
input{
    display: none;
}
label{
    border-radius: 2px;
    margin-left: 1%;
    margin-right: 1%;
    background-color: cornsilk;
}
label input:checked{
    margin-left: 1%;
    margin-right: 1%;
    background-color: rgb(252, 215, 70);
}
.choiseCard{
    border-radius: 2px;
    width: 75%;
    height: 8%;
    background-color:rgb(227, 225, 250);
}
// .choise{
    
// }
.headline{
    margin-top: -5px;
}
.display-2{
    position: absolute;
    margin: 165px 0 0;
}
button{
    position: absolute;
    margin: 230px 0 0;
}