.arrow-back{
    margin-left: 9em;
    margin-right: 9.6em;
    //background-color: rgba(221, 221, 221, 0.5);
    border-radius: 5px;
    background: rgba(221, 221, 221, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.065), 0 6px 20px 0 rgba(0, 0, 0, 0.065);
    margin-top: -50px;
    margin-bottom: -60px;
}
.arrow-back img{
    margin-left: 5px;
}
.help{
    text-align: center;
    margin-left: 6px;
    border-radius: 15px;
    background-color: rgb(192, 192, 192);
    cursor: pointer;
    display: inline-block;
    padding: 3px;
    font-size: 10px;
    height: 14px;
    line-height: 9px;
    width: 14px;
}
// .my-12{
//     margin: 9em;
// }
.card{
    //height: 300;
    //width: 300px;
    margin-bottom: 30px;
    //text-align: center;
    //position: relative;
    padding: 1rem;
}
// input{
//     display: none;
// }
// label{
//     cursor: pointer;
//     border-radius: 2px;
//     background-color: cornsilk;
//     //border: 1px solid rgb(177, 177, 177);
//     box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.065), 0 6px 20px 0 rgba(0, 0, 0, 0.065);
// }
// label input:checked{
//     background-color: rgb(252, 215, 70);
// }
// .choiseCard{
//     position: absolute;
//     margin-top: 40%;
//     border-radius: 2px;
//     width: 65%;
//     height: 14%;
//     background-color:rgb(240, 239, 253);
// }
// .headline{
//     margin-top: -5px;
//     margin-bottom: 5px;
// }
// .display-2{
//     position: absolute;
//     margin: 165px 0 0;
// }
// button{
//     position: absolute;
//     margin: 230px 0 0;
// }
// .descLink{
//     cursor: pointer;
//     margin-bottom: 10px;
//     color:blue;
//     text-decoration: underline;
// }