<div [ngSwitch]="serviceType">
    <ng-template ngSwitchCase="Отчётность">
        <div class="L1">
            <div (click)="log(typeAccounting)" *ngFor="let buttonsL1 of typeAccounting.L1 | keyvalue">
                <div class={{buttonsL1.key}}>{{buttonsL1.key}}
                    <div *ngFor="let buttonsL2 of buttonsL1.value.L2 | keyvalue">
                        <h4 class="{{buttonsL2.key}}">{{buttonsL2.key}}</h4>
                        <div *ngFor="let buttonsL3 of buttonsL2.value.L3 | keyvalue">
                            <h3 class="{{buttonsL3.key}}">{{buttonsL3.key}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="aFilter L1">
            <div class="L1_B1">
                <div class="L2">
                    <div class="L2_B1">
                        <div class="L3">
                            <div class="L3_B3"></div>
                            <div class="L3_B3"></div>
                            <div class="L3_B3"></div>
                        </div>
                    </div>
                    <div class="L2_B2">
                        <div class="L3_B3"></div>
                        <div class="L3_B3"></div>
                        <div class="L3_B3"></div>
                    </div>
                    <div class="L2_B3">
                        <div class="L3_B3"></div>
                        <div class="L3_B3"></div>
                        <div class="L3_B3"></div>
                    </div>
                </div>
            </div>
            <div class="L1_B2">
                <div class="L2">
                    <div class="L2_B1">
                        <div class="L3">
                            <div class="L3_B3"></div>
                            <div class="L3_B3"></div>
                            <div class="L3_B3"></div>
                        </div>
                    </div>
                    <div class="L2_B2">
                        <div class="L3_B3"></div>
                        <div class="L3_B3"></div>
                        <div class="L3_B3"></div>
                    </div>
                    <div class="L2_B3">
                        <div class="L3_B3"></div>
                        <div class="L3_B3"></div>
                        <div class="L3_B3"></div>
                    </div>
                </div>
            </div>
            <div class="L1_B3">
                <div class="L2">
                    <div class="L2_B1">
                        <div class="L3">
                            <div class="L3_B3"></div>
                            <div class="L3_B3"></div>
                            <div class="L3_B3"></div>
                        </div>
                    </div>
                    <div class="L2_B2">
                        <div class="L3_B3"></div>
                        <div class="L3_B3"></div>
                        <div class="L3_B3"></div>
                    </div>
                    <div class="L2_B3">
                        <div class="L3_B3"></div>
                        <div class="L3_B3"></div>
                        <div class="L3_B3"></div>
                    </div>
                </div>
            </div>
            <div class="L1_B4">
                <div class="L2">
                    <div class="L2_B1">
                        <div class="L3">
                            <div class="L3_B3"></div>
                            <div class="L3_B3"></div>
                            <div class="L3_B3"></div>
                        </div>
                    </div>
                    <div class="L2_B2">
                        <div class="L3_B3"></div>
                        <div class="L3_B3"></div>
                        <div class="L3_B3"></div>
                    </div>
                    <div class="L2_B3">
                        <div class="L3_B3"></div>
                        <div class="L3_B3"></div>
                        <div class="L3_B3"></div>
                    </div>
                </div>
            </div>
            <div class="L1_B5">
                <div class="L2">
                    <div class="L2_B1"></div>
                    <div class="L2_B2"></div>
                </div>
            </div>
        </div> -->
    </ng-template>
    <ng-template ngSwitchCase="Электронная подпись">
        <ul *ngFor="let filter of typeElSignatures">
            <li (click)="selectType(filter)">{{filter}}</li>
        </ul>
    </ng-template>
</div>