.card{
    height: 200px;
    width: 150px;
    margin-bottom: 3%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.container{
    margin-top: 90px;
}
.info{
    margin-left: 9em;
    margin-right: 9.6em;
    border-radius: 5px;
    background: rgba(251, 255, 27, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.065), 0 6px 20px 0 rgba(0, 0, 0, 0.065);
    margin-top: -50px;
    margin-bottom: -60px;
}
.info p{
    text-align: center;
    font: bold;
}