<div class="info">
    <br/>
    <p>Данное приложение для Битрикс24 позволяет ознакомиться с ЭЦП, узнать подробнее о их видах и для чего они нужны.</p><br/>
    <p>ЭЦП (электронная цифровая подпись) - информация в электронной форме, которая присоединена к другой информации в электронной форме или иным образом связана с такой информацией и которая используется для определения лица, подписывающего информацию</p><br/>
    <p>Вы в данном приложении можете при необходимости выбрать необходимое ЭЦП и узнать о нём подробнее, что в него входит, цену и срок действия.</p><br/>
</div>
<div class="my-12 container" 
    fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="30px">
    <a class="card p-6" 
        fxFlex fxLayout="column" 
        fxLayoutAlign="start center" *ngFor="let class of classList"
        [routerLink]="['/products', class.link]">
        <div class="inline-block p-6 rounded-full text-primary mx-auto flex items-center justify-center bg-primary-light">
            <img size="48px" src="/apps/taxcom/assets{{class.img_path}}"/>
        </div>
        <h2 class="headline my-2">{{class.name}}</h2>
    </a>
</div>